@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css';

* {
  font-family: 'Outfit', sans-serif !important;
  margin: 0;
}

.map-container {
  bottom: 0;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  border-radius: 4px;
  color: #fff;
  font-family: monospace;
  left: 0;
  margin: 12px;
  padding: 6px 12px;
  position: absolute;
  top: 0;
  z-index: 1;
}

.custom-marker {
  background-size: cover;
  width: 35px;
  height: 35px;
}